.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
h1 {
  font-size: 2.4em;
}
.divider {
  width: 8%;
  height: 3px;
  background-color: #2caeba;
}
.items {
  display: flex;
  width: 100%;
  margin: 50px 0;
}
.btn-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.btn-container button {
  border: none;
  background-color: transparent;
  padding: 10px 0 10px 20px;
  margin: 5px 0;
  cursor: pointer;
}
.active-btn {
  color: #2caeba;
  border-left: 2px solid #2caeba !important;
  padding-left: 20px !important;
}
.item {
  width: 70%;
}
.job-desc{
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.job-desc span{
  margin-right: 10px;
  color: #2caeba;
}